/*Este template está utilizado para: Login, Main..*/
/*Login Page */
body{ /*Sobre escribe el color del background de las tags body*/
	background : #CBDFEA;
	margin: 0px;
}
.foot{
	clear: both;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: black;
}
.lead{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #B40431;	
	text-transform: uppercase;
}
.logsup{/*Form Style 1*/
	background-color: #B40431;
	/*background: red;*/
	/*position: absolute;*/
	position: relative;
	width: 400px;
	height: 302px;	
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-align: center;
	line-height: 52px;
	border-radius: 11px;	
}
.logdown{
	position: absolute;
	background-color: #DACFDB;
	width: 390px;
	height: 240px;
	margin: 5px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.logset{/*Esto es para los field text y el botón de login*/
	text-align: left;
	margin: 0 auto;
	line-height: 3px;
	font-size: 15px;
	color: black;
	position: relative;
	display: inline-table; 
}

.logset input{
	width: 245px;
	height: 30px;
	border-color: #B40431;
	color: black;
	font-family: arial;
	font-size: 20px;
}
.logset button{
	width: 100px;
	height: 40px;
	line-height: 23px;
	background-color: #B40431; 
	border-color: #B40431;
	color: white;
	font-size: 16px;
}
/*Main Page*/
.headpaint{/*Agrega la barra superior color morada y con el borde pintado*/
	background-color: #B40431; 
	height: 75px;
	width:  auto;
	border: 1px solid #040000;
	padding: 4px;
}
.navmenu{
	/*background-color: blue; */
	display: inline-block;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	position: relative;
	top: 10%;
	left: 8%;
	float: left;
}
.navmenu li{
	display: inline-block;
	list-style: none;
	padding-right: 50px;
}
.navmenu button{
	width: 160px;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #B40431; 
	border-style: dashed;
	border-width: medium;
	border-color: black;
	color: white;	
	font-size: 18px;
	text-align: center;
}
.navmenu a{
	padding: 8px 52px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #B40431; 
	border-style: dashed;
	border-width: medium;
	border-color: black;
	color: white;	
	font-size: 18px;
	text-decoration: none;
	text-align: center;
}
.navmenu a:hover {
	background-color: white;
	color: #B40431;
}
#selected{
	padding: 8px 52px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: white; 
	border-style: dashed;
	border-width: medium;
	border-color: black;
	color: #B40431;	
	font-size: 18px;
	text-decoration: none;
	text-align: center;		
}
.userinfo{
	display: inline-block;
	float: right;
	/*		background-color: gray;*/
	padding: 16px 5px;
	position: relative;
	top: 10%;
	right: 2%;
	text-align: right;	
	margin: 0px 0px;			
}

.userinfo label, a{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 22px;
	text-decoration: none;
	color: white;
}
.userpic{
	display: inline-block;
	float: right;
	/*background-color: green;*/
	padding: 0px 0px;
	position: relative;
	top: 0px;
	right: 1%;
	text-align: right;
	margin: 0px 0px;
}
.userpic li ,.userpic ul{
	padding: 0px 0px;
	margin: 0px 0px;
	list-style-type: none;
	display: inline-block;
}
.frame{
	clear: both;
}
.frame h2{
	display: block;
	margin: 50px;
	padding: 20px;
}
.frame h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}	
.frame a{
	text-decoration: none;
	color: black;
}
.panelselection{
	display: inline-block;
	float: left;
	margin: 75px 89px;
	padding: 5px 10px;
}
.subpanel1{	
	display: inline-block;
	float: left;
	margin: 10px 10px;
	padding: 5px 10px;
}
.subpanel1 h3{
	font-size: 33px;
	margin: 33px 2px;
}
.subpanel2{
	position: relative;
	display: inline-block;
	float: right;
	margin: 10px;
	margin-left: 100px;
	padding: 5px 5px;
}
.subpanel2 a{
	border-radius: 18px;
	position: relative;
	float: right;
	background-color: #1C1C1C;
	color: #81F7BE;
	font-size: 33px;
	margin: 11px;
	padding: 22px 22px;
}
.subpanel2 a:hover{
	background-color: #1C1C1C;
	border-width: 1px;
	border-style: solid;
	border-color: #FAAC58;
	color: #FAAC58;
}
.tablepanel{
	margin: 200px 200px;
}
.tablepanel table{
	width: 100%;
	font-family: 'Arial';
	font-size: 22px;
	border-collapse: separate;
}
.tablepanel li{
	display: inline-table;
	list-style: none;
	float: right;
}
.tablepanel thead tr{
	text-align: center;
	background-color: yellow;
	color: white;
}
.tablepanel tbody{
	background-color: white;
}








